<!DOCTYPE HTML>
<html ng-app="aedmsGuiApp">
    <head>
        <script src="../scripts/controllers/aircraft.js"></script>
        <title>AirCraft</title>
    </head>    
    <body>
        <div ng-controller="AirCraftCtrl as main">
            <div class="col-md-4">
                <h2>AirCrafts</h2>
<!--                <airCraft class="callout"
                          ng-repeat="airCraft in main.airCrafts"
                          ng-click="main.setCurrentAirCraft(airCraft)">
                </airCraft>-->
                <div ng-repeat="airCraft in main.airCrafts" ng-click="main.setCurrentAirCraft(airCraft)">
                    <div><h4>{{airCraft.title}}</h4><p>{{airCraft.description}}</p></div>
                </div>
                <br/>
                <a class="btn btn-primary" ng-click="main.createAirCraft()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-md-6 content">
                <h2>AirCraft</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="inputTitle">Title</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="main.currentAirCraft.title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputStatus">Engine</label>
                        <div class="controls">
                            <select id="inputStatus" class="form-control" ng-model="main.currentStatus"
                                    ng-options="l.fleet for l in main.engines"
                                    ng-change="main.setCurrentStatus(main.currentStatus)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputType">APU</label>
                        <div class="controls">
                            <select id="inputType" class="form-control" ng-model="main.currentType"
                                    ng-options="t.name for t in main.apus"
                                    ng-change="main.setCurrentType(main.currentType)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputDescription">Description</label>
                        <div class="controls">
                            <textarea id="inputDescription" class="form-control" placeholder="Description" rows="3"
                                      ng-model="main.currentAirCraft.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputAcceptance">Acceptance Criteria</label>
                        <div class="controls">
                            <textarea id="inputAcceptance" class="form-control" placeholder="Acceptance Criteria" rows="3"
                                      ng-model="main.currentAirCraft.criteria"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputReporter">Reporter</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="inputReporter" placeholder="Reporter" ng-model="main.currentAirCraft.reporter" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label  for="inputAssignee">Assignee</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="inputAssignee" placeholder="Assignee" ng-model="main.currentAirCraft.assignee" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
