<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">
				Engine Editor
				<br>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<form role="form">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Find Engine">
							<span class="input-group-btn">
								<a class="btn btn-success" type="submit">Go</a>
							</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal" role="form" ng-model="engine.fleet">
				<div class="form-group">
					<div class="col-sm-2">
						<label  class="control-label">
							Fleet
							<br>
						</label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" >
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<label  class="control-label">
							Sub Fleet
							<br>
						</label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="engine.subfleet">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<label  class="control-label">
							Serial Number
							<br>
						</label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="engine.sn">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<label  class="control-label">
							Model
							<br>
						</label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="engine.model">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">
							Lease Holder
							<br>
						</label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="engine.leaseholder">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label  class="control-label">
							Lease Date
							<br>
						</label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="engine.leasedate" >
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">
							Remark
							<br>
						</label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="engine.remark">
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary" ng-click="save(engine)">save</button>
				<button type="submit" class="btn btn-danger" ng-click="delete(engine)">delete</button>
			</form>
		</div>
	</div>
</div>
